.filters{
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    position: relative;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    border: none;
    margin-right: 30px;
    margin-top: 11px;
    border-radius: 4px;;
    text-align: center;
    line-height: 4px;
    float: right;
}

button:hover {

    opacity: 0.9;
}


.locations,
.amenities {
    height: 100%;
    width: 25%;
    float: left;
}

.locations {
    border-right: #DDDDDD solid 1px;
}


.filters h3 {
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    font-weight: 600;
    padding-left: 40px;
}

.filters h4 {
    text-align: left;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    padding-left: 40px;
}